openapi: 3.0.3
info:
  title: 博碩士論文系統 對外API介接服務
  description: 提供論文資料的 CRUD 操作，供外部系統介接使用
  version: 1.0.0
  contact:
    name: Github 原始碼
    url: https://github.com/econcord-com-tw/ndltd-swagger

servers:
  - url: https://ndltdapi.ncl.edu.tw/api/v1
    description: 正式環境

security:
  - bearerAuth: []

paths:
  # 論文 CRUD API
  /theses:
    get:
      tags: [論文管理]
      summary: 取得論文列表
      description: 依多種條件搜尋論文，回傳論文列表
      parameters:
        - name: keyword
          in: query
          description: 關鍵字（標題、摘要、關鍵字等模糊搜尋）
          schema:
            type: string
            example: "Open Access"
        - name: school
          in: query
          description: 學校名稱
          schema:
            type: string
            example: "國立臺灣大學"
        - name: author
          in: query
          description: 作者
          schema:
            type: string
            example: "王小明"
        - name: degree
          in: query
          description: 學位（碩士/博士/其他）
          schema:
            type: string
            enum: [碩士, 博士, 其他]
        - name: year
          in: query
          description: 年度
          schema:
            type: integer
            example: 113
        - name: fullTextAvailable
          in: query
          description: 是否有全文
          schema:
            type: boolean
            example: true
        - name: sort
          in: query
          description: 排序方式
          schema:
            type: string
            enum: [viewCount, downloadCount, year, relevance]
            default: relevance
        - name: limit
          in: query
          description: 限制回傳最大筆數（預設 10，最大 100）
          schema:
            type: integer
            default: 10
            maximum: 100
        - name: offset
          in: query
          description: 分頁偏移量
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 成功取得論文列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThesisListResponse'
    
    post:
      tags: [論文管理]
      summary: 新增論文
      description: 新增一筆論文資料
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThesisCreateRequest'
      responses:
        '201':
          description: 成功新增論文
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThesisResponse'

  /theses/{id}:
    get:
      tags: [論文管理]
      summary: 取得單篇論文詳細內容
      description: 依論文 id 取得詳細內容
      parameters:
        - name: id
          in: path
          required: true
          description: 論文唯一識別碼
          schema:
            type: string
            example: "1"
      responses:
        '200':
          description: 成功取得論文內容
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThesisResponse'
    
  
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # 論文相關 Schema（與 ndltd/reader.yaml ThesisDetail 欄位一致）
    ThesisDetail:
      type: object
      description: 論文書目與詳情（對應檢索結果列、論文詳情頁、書車列表）
      properties:
        id:
          type: string
          description: 論文唯一識別碼
          example: "1"
        thesis_number:
          type: string
          description: 論文編號
          example: "108NTNU1234567"
        thesis_type:
          type: string
          description: 論文種類（如學術論文、技術報告、作品連同書面報告等）
          example: "學術論文"
        author:
          type: string
          description: 研究生中文名（相容舊欄位）
          example: "王小明"
        author_en:
          type: string
          description: 研究生外文名
          example: "WANG, SIAO-MING"
        title:
          type: string
          description: 論文中文名稱
          example: "台灣博碩士論文網發展現況與展望"
        title_en:
          type: string
          description: 論文外文名稱
          example: "Development and Prospects of Taiwan ETDS"
        supervisor:
          type: string
          description: 指導教授-中文名（相容舊欄位）
          example: "李大華博士"
        supervisor_en:
          type: string
          description: 指導教授-外文名
          example: "LEE, DA-HWA"
        supervisor_email:
          type: string
          format: email
          description: 指導教授E-mail
        co_supervisor:
          type: string
          description: 共同指導教授
        oral_committee:
          type: string
          description: 口試委員（多人可為陣列或逗號分隔，依實作而定）
        oral_committee_en:
          type: string
          description: 口試委員-外文名
        oral_exam_date:
          type: string
          format: date
          description: 口試日期
          example: "2024-06-15"
        degree:
          type: string
          description: 學位類別
          example: "碩士"
        school:
          type: string
          description: 校院名稱
          example: "國立臺灣大學"
        department:
          type: string
          description: 系所名稱
          example: "資訊工程學系"
        year:
          type: integer
          description: 畢業學年度（民國）
          example: 113
        publication_year:
          type: integer
          description: 論文出版年（西元或民國，依實作）
          example: 2024
        student_id:
          type: string
          description: 學號
          example: "M110123456"
        language:
          type: string
          description: 語文別
          example: "中文"
        pages:
          type: integer
          description: 論文頁數
          example: 156
        keywords:
          type: array
          description: 中文關鍵詞
          items:
            type: string
          example: ["論文網", "台灣", "Open Access"]
        keywords_en:
          type: array
          description: 外文關鍵詞
          items:
            type: string
        abstract:
          type: string
          description: 論文中文摘要
          example: "本論文探討台灣博碩士論文網的發展現況..."
        abstract_en:
          type: string
          description: 論文外文摘要
        table_of_contents:
          type: string
          description: 論文目次
        references:
          type: string
          description: 論文參考文獻
        full_text_open_time:
          type: string
          format: date-time
          description: 全文開放時間
        delayed_publication_date:
          type: string
          format: date
          description: 延後公開日期
        original_thesis_url:
          type: string
          format: uri
          description: 原論文連結
        discipline:
          type: string
          description: 學門
          example: "電算機學門"
        discipline_category:
          type: string
          description: 學類
        full_text_file_id:
          type: string
          description: 電子全文檔案ID
        alternative_thesis_file_id:
          type: string
          description: 替代論文檔案ID
        authorization_letter_file_id:
          type: string
          description: 授權書檔案ID
        campus_authorization:
          type: boolean
          description: 校內授權
        ncl_authorization:
          type: boolean
          description: 國圖授權
        database_vendor_authorization:
          type: boolean
          description: 資料庫廠商授權
        cited_count:
          type: integer
          description: 被引用數
          example: 12
        has_full_text:
          type: boolean
          description: 是否有電子全文可下載
          example: true
        has_multimedia:
          type: boolean
          description: 是否含多媒體作品
          example: false

    ThesisCreateRequest:
      type: object
      required: [title, author, school, degree, year]
      properties:
        title:
          type: string
          example: "台灣博碩士論文網發展現況與展望"
        author:
          type: string
          example: "王小明"
        school:
          type: string
          example: "國立臺灣大學"
        department:
          type: string
          example: "資訊工程學系"
        degree:
          type: string
          example: "碩士"
        year:
          type: integer
          example: 113
        abstract:
          type: string
          example: "本論文探討台灣博碩士論文網的發展現況..."
        keywords:
          type: array
          items:
            type: string
          example: ["論文網", "台灣", "Open Access"]
        supervisor:
          type: string
          description: 指導教授-中文名
          example: "李大華博士"
        has_full_text:
          type: boolean
          description: 是否有電子全文可下載
          example: true
        original_thesis_url:
          type: string
          format: uri
          description: 原論文連結
          example: "https://ndltd.ncl.edu.tw/download/1"

    ThesisUpdateRequest:
      type: object
      required: [title, author, school, degree, year]
      properties:
        title:
          type: string
          example: "台灣博碩士論文網發展現況與展望"
        author:
          type: string
          example: "王小明"
        school:
          type: string
          example: "國立臺灣大學"
        department:
          type: string
          example: "資訊工程學系"
        degree:
          type: string
          example: "碩士"
        year:
          type: integer
          example: 113
        abstract:
          type: string
          example: "本論文探討台灣博碩士論文網的發展現況..."
        keywords:
          type: array
          items:
            type: string
          example: ["論文網", "台灣", "Open Access"]
        supervisor:
          type: string
          description: 指導教授-中文名
          example: "李大華博士"
        has_full_text:
          type: boolean
          description: 是否有電子全文可下載
          example: true
        original_thesis_url:
          type: string
          format: uri
          description: 原論文連結
          example: "https://ndltd.ncl.edu.tw/download/1"

    ThesisPatchRequest:
      type: object
      properties:
        title:
          type: string
          example: "台灣博碩士論文網發展現況與展望"
        author:
          type: string
          example: "王小明"
        school:
          type: string
          example: "國立臺灣大學"
        department:
          type: string
          example: "資訊工程學系"
        degree:
          type: string
          example: "碩士"
        year:
          type: integer
          example: 113
        abstract:
          type: string
          example: "本論文探討台灣博碩士論文網的發展現況..."
        keywords:
          type: array
          items:
            type: string
          example: ["論文網", "台灣", "Open Access"]
        supervisor:
          type: string
          description: 指導教授-中文名
          example: "李大華博士"
        has_full_text:
          type: boolean
          description: 是否有電子全文可下載
          example: true
        original_thesis_url:
          type: string
          format: uri
          description: 原論文連結
          example: "https://ndltd.ncl.edu.tw/download/1"

    ThesisResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: object
          example: []
        messages:
          type: array
          items:
            type: object
          example: []
        result:
          $ref: '#/components/schemas/ThesisDetail'

    ThesisListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: object
          example: []
        messages:
          type: array
          items:
            type: object
          example: []
        result:
          type: array
          items:
            $ref: '#/components/schemas/ThesisDetail'
        result_info:
          $ref: '#/components/schemas/PaginationInfo'

    PaginationInfo:
      type: object
      properties:
        total:
          type: integer
          description: 總筆數
          example: 1250
        count:
          type: integer
          description: 當前頁筆數
          example: 10
        per_page:
          type: integer
          description: 每頁筆數
          example: 10
        current_page:
          type: integer
          description: 當前頁數
          example: 1
        total_pages:
          type: integer
          description: 總頁數
          example: 125